[submodule "subs/pyloopenergy"]
	path = subs/pyloopenergy
	url = https://github.com/pavoni/pyloopenergy.git

[submodule "subs/pytradfri"]
	path = subs/pytradfri
	url = https://github.com/ggravlingen/pytradfri
