/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
  height: 80%;
}

/*h2 {
  margin: 1.35em 0 0.35em 0;
}*/

.gauge {
  margin: 3vh 3vw;
  transform: rotate(90deg);
}

html {
  height: 100%;
}
body {
  min-height: 100%;
}
.section {
  height: 100vh;
}

.row {
  clear: both;
  margin-bottom: 5px;
}
.col {
  border: 1px solid #fcfcfc;
}

fieldset {
    display: block;
    margin: 1px;
    padding: 0.4em;
    border: 2px solid black;
    font-size: 18px;
}
