/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.gauge {
  margin-top: 50%;
  margin-bottom: 10%;
  transform: rotate(90deg);
}

html {
  height: 100%;
}
body {
  min-height: 100%;
}
.section {
  height: 100vh;
}

.row {
  clear: both;
}
.col {
  border: 1px solid #fcfcfc;
}
