/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.gauge {
  margin-top: 15%;
  margin-bottom: 2%;
  zoom: 0.45;
  transform: rotate(90deg);
}

.row {
  clear: both;
}

.col {
  border: 1px solid #fcfcfc;
}
